.borderRadius,.form-control{margin-bottom:10px!important}.date-wrapper,.tooltip-box{width:100%;position:relative}body{background-color:#fff!important}.dd{border:1px solid #dedede!important}span.ddlabel{color:#959595}.toggle-button-icon-fade label:after,.toggle-button-icon-fade label:before{transition:0s ease-out .1s}.toggle-button-icon-fade{width:100%;height:40px}.toggle-button-icon-fade label{width:100%;box-shadow:none;border:1px solid #dedede;padding:6px 20px;height:38px;background:0 0;color:#959595;font-size:14px;line-height:26px;border-radius:0;text-transform:capitalize}#dh-get-quote select,.form-control{height:38px;border:1px solid #aaa!important;padding:6px 12px;font-size:14px;line-height:1.428571429;background-color:#fff;color:#959595}.form-control{height:38px!important}.input-group{width:100%}.input-group .form-control{z-index:-1;position:initial}.ui-slider .ui-slider-handle{border:7px solid #00b191!important;background:#f6f6f6!important;font-weight:400!important;color:#454545!important;height:25px!important;width:25px!important;margin-top:-4px!important;border-radius:20px!important;cursor:pointer!important}.ui-slider-horizontal .ui-widget-header,.ui-slider-vertical .ui-widget-header{background-color:#00b191}form.form.form-layout1 label.input-label{padding-bottom:0!important}.no-padding,.no-padding-right{padding-right:0}.date-wrapper{height:36px;border-radius:5px;-webkit-transition:.2s linear;overflow:hidden;display:flex;display:-webkit-flex;align-items:center;-webkit-align-items:center;color:#566266;background-color:#fff;margin-bottom:10px;border:1px solid #999}.date-wrapper input,.form-input{box-shadow:none;display:block;background-color:#fff}.date-wrapper input{width:32%;border:0;text-align:center;border-radius:4px;padding:15px;max-height:50px}.ui-datepicker td a,.ui-datepicker td span{padding:7px!important;z-index:99999999999!important}.form-input{border:1px solid #aaa!important;padding:6px 12px;margin-bottom:10px!important;height:38px!important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:4px;width:100%;font-size:14px;line-height:1.42857143;color:#555;background-image:none;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;-o-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}.tabscontent{background-color:#fff}.tooltip-box{display:none;font-family:Nunito;border-radius:5px;background:#f6f6f6!important;line-height:19px;font-size:16px;font-weight:400;margin-left:0;margin-bottom:20px}.emailicon,.phoneicon{background:#f1f1f1;position:absolute}.p-20px{padding:20px!important}.tooltip-close{position:absolute;top:10px;right:10px;cursor:pointer}.tooltip-content ul{list-style:disc!important;margin-left:17px}.fa-question-circle{color:#df3226;font-size:22px;margin-left:10px;margin-top:6px;cursor:pointer}.emailicon{padding:5px 9px!important;margin-top:-47px;margin-left:2px}.phoneicon{z-index:999;padding:7px 9px!important;margin-top:-42px;margin-left:3px}.get_qout{background:#1bbc9b;color:#fff;margin:5px 0 5px auto;font-size:15px;width:45%;padding:10px 0;height:44px;border:1px solid transparent;border-radius:4px!important}.get_qout:hover{background:#040e1f;color:#fff}.get_qout:hover i{color:#3a703a}
.form-control:disabled, .form-control[readonly]{
	background-color: white !important;
}
@media (min-width: 1400px)
{
.form-fivecontainer{
	max-width: 1100px;
}
}
#quoteform{
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
}
@media only screen and (max-width:600px){
	.padding-zero-onmobile-lef-side{
		padding-left: 0px !important;
	}
	.form-fivecontainer{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
.secondradioinput{
	margin-left: 15px;
}
.oneradioinput{
	width: 49%;
    border: 1px solid #aaa;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
}
.oneradioinput input{
	width: 18px;
	height: 18px;
	margin-right: 10px;
}