form.form.form-layout1 label.input-label,label{padding-bottom:0!important;font-size:14px!important}.error{color:red}#primary_destination_msdd.dd.ddcommon{box-shadow:none;border:1px solid #dedede;background:0 0;color:#959595;font-size:14px}.form-control:focus,input.text:focus,input[type=checkbox]:focus,input[type=date]:focus,input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border-color:#ccc!important;box-shadow:none!important}form.form.form-layout1 .form-control{padding:5px 12px;border-radius:0!important}form.form.form-layout1 .form-control,form.form.form-layout1 .select{height:42px}.dd .ddTitle .ddTitleText{padding:8px 25px 7px 8px!important}#primary_destination_msdd{height:42px!important;border-radius:0;width:100%!important}.calendericon{padding:8px 11px!important;position:absolute;margin-top:-42px;margin-left:1px;background:#f1f1f1;border-top-left-radius: 5px; border-bottom-left-radius: 5px;}.email-main,.email-main input{position:relative}.rangeslider__fill,.ui-slider-horizontal .ui-slider-range{background:#1bbc9b!important}.rangeslider--horizontal{height:15px!important}#doyousmoke img,.genderi{height:100%;margin-right:7px}.rangeslider--horizontal .rangeslider__handle{top:-13px}#dh-get-quote .control-label{font-size:16px;font-weight:400;letter-spacing:.5px}#dh-get-quote button:hover{color: white !important;} #dh-get-quote button{padding:8px 10px;font-weight:700;border:1px solid #01a281;font-size:16px}#dh-get-quote .range-output{position:absolute;top:-30px;right:5px;font-size:125%}.email-main input{padding-left:40px!important}label.control-label-mail{position:absolute;left:2.5%;color:#868585;top:49%;padding:6px 7px}.phone-custom-input2 span.phone-icon{position:absolute!important;top:8%!important;left:.5%!important;padding:6px 8px!important}.rangeslider__fill{position:absolute}.genderi{color:#1bbc9b;font-size:16px;background:#f1f1f1;padding:11px 9px 0;vertical-align:middle}.ui-datepicker td a,.ui-datepicker td span{padding:7px!important;z-index:99999999999!important}.toggle-button-icon-fade{width:100%;height:47px;color:#444;float:left}.toggle-button-icon-fade label{height:42px!important;width:100%;box-shadow:none;border:1px solid #dedede;padding:5px 20px;background:#fff!important;color:#959595;font-size:14px;line-height:36px;border-radius:0}.toggle-button-icon-fade .toggle-button__icon{height:36px!important;width:28px!important;margin:3px!important;background:#eee}.toggle-button-icon-fade label::after,.toggle-button-icon-fade label::before{left:48px;font-weight:400;font-size:80%;color:#686868}.selection-box::after{height:43px}.toggle-button-icon-fade .toggle-button__icon::after,.toggle-button-icon-fade .toggle-button__icon::before{background:red;top:45%}.toggle-button__icon::after,.toggle-button__icon::before{left:42%}label{font-weight:400;color:#333}#ui-datepicker-div,.ui-datepicker-div,.ui-datepicker-inline{width:auto}.ui-button,.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,html .ui-button.ui-state-disabled:active,html .ui-button.ui-state-disabled:hover{border:none;background:#f5821f;color:#fff;font-weight:700;font-size:14px}.ui-datepicker-calendar th span{color:#333!important}.ui-datepicker-header select,table.ui-datepicker td a{color:#333;background:#fff!important}.ui-datepicker .ui-state-highlight{background:#fffa90!important;color:#333!important}.ui-slider .ui-slider-handle{border:7px solid #44bc9b!important;background:#f6f6f6!important;font-weight:400!important;color:#454545!important;height:25px!important;width:25px!important;margin-top:-4px!important;border-radius:20px!important;cursor:pointer!important}.ui-slider-horizontal .ui-widget-header,.ui-slider-vertical .ui-widget-header{background-color:#44bc9b}.ui-slider .ui-slider-handle::before{display:none}form.form.form-layout1 label.input-label{color:#333}.form-control{border-radius:5px !important ;background:#fff!important;border:1px solid #ccc!important}.date-wrapper{height:42px;box-shadow:0 0 0 1px #cac2d5;border-radius:0;position:relative;-webkit-transition:.2s linear;width:100%;overflow:hidden;display:flex;display:-webkit-flex;align-items:center;-webkit-align-items:center;color:#566266;background-color:#fff}.date-wrapper input{width:32%;border:0;text-align:center;box-shadow:none;border-radius:4px;padding:15px;display:block;max-height:50px;background-color:#fff}.form-input{height:42px;background:#fff!important;border:1px solid #ccc;border-radius:5px !important;padding:6px 12px;display:block;width:100%;font-size:14px;line-height:1.42857143;color:#555;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;-o-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}.emailicon,.phoneicon{border-top-left-radius: 5px; border-bottom-left-radius: 5px;padding:8px 11px!important;position:absolute;margin-top:-42px;margin-left:1px;background:#f1f1f1}#GET_QUOTES{background-color:#ff4136!important;height:44px;font-weight:400!important}#doyousmoke img{background:#f1f1f1;padding:10px}@media only screen and (max-width:600px){.mobile-deisply-none{display:none!important}.padding-left-zero-on-mobile{padding-left:0!important}.padding-right-zero-on-mobile{padding-right:0!important}}
.mainpagerow{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
}
#quoteform{
	background-color: white !important;
}
.coverage{
	color: black; 
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-bottom: 0;
	border: none;
	text-align: left;
	margin-bottom: 10px;
}
.coverage input{
	border:0; 
	font-size:23px; 
	color:#1BBC9B; 
	font-weight:bold;
	background: no-repeat;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 150px;
}
.ui-datepicker {
    width: 20em !important;
    padding-top: 3px !important;
}
.ui-datepicker-title select{
    background-color: transparent !important;
}

.padding-right-zero-on-mobile{
    padding-right: 10px;
}
.padding-left-on-desktop{
    padding-left: 25px;
}
@media only screen and (max-width:600px){
	.padding-top-zero-on-mobile{
		padding-top: 0px !important;
	}
	.paddingleftrightzeroonmobile{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.mainpagerow{
		box-shadow: none !important;
		padding-top: 40px !important;
		padding: 0px;
	}
}
