#traveler-price{
	color: #2b3481;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

#traveler-price span {
    color: #67778f;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 3px;
}
.plan-highlights li{
	margin-top: 0px !important;
}
.padding-right-on-price-layout-nine{
	padding-right: 23px;
}
.ui-slider-range{
	background-color: #2b3481;
}
.ui-slider-horizontal .ui-slider-handle{
	padding: 10px;
	top: -0.5em;
	border-radius: 50%;
	background-color: #5ea047;
}
.adjust-quoto{
	margin-bottom: 10px !important;
}