.global-popup{
    pointer-events:none;
    transition-duration:.3s
}
.global-popup.active{
    opacity:1;
    pointer-events:auto;
    z-index:1003
}
.global-popup .custom-container{
    position:relative;
    width:auto
}
.global-popup .custom-container .icon-close{
    cursor:pointer;
    position:absolute;
    top:16px;
    right:16px;
    font-size:24px;
    background-image:url(data:image/svg+xml;
    charset=utf-8;
    base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMjQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTEzLjQ2NiAxMmw2LjIzLTYuMjNhMS4wMzUgMS4wMzUgMCAxMC0xLjQ2Ni0xLjQ2NkwxMiAxMC41MzRsLTYuMjMtNi4yM0ExLjAzNiAxLjAzNiAwIDEwNC4zMDQgNS43N2w2LjIzIDYuMjMtNi4yMyA2LjIzYTEuMDM1IDEuMDM1IDAgMTAxLjQ2NiAxLjQ2Nmw2LjIzLTYuMjMgNi4yMyA2LjIzYTEuMDM0IDEuMDM0IDAgMDAxLjQ2NiAwIDEuMDM1IDEuMDM1IDAgMDAwLTEuNDY2TDEzLjQ2NiAxMnonIGZpbGw9JyMyQjM0ODEnLz48L3N2Zz4=)
}
@media(max-width:767.98px){
    .global-popup .custom-container .icon-close{
        top:12px;
        right:12px;
        background:transparent url(data:image/svg+xml;
        base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMjgiIGN5PSIyOCIgcj0iMjcuNSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjQ0ZEOUU4Ii8+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+PHBhdGggZD0iTTMwLjA1MiAyOC4wMjJsOC43MjItOC43MjJhMS40NSAxLjQ1IDAgMDAwLTIuMDUzIDEuNDUgMS40NSAwIDAwLTIuMDUyIDBMMjggMjUuOTdsLTguNzIyLTguNzIzYTEuNDUgMS40NSAwIDAwLTIuMDUyIDAgMS40NSAxLjQ1IDAgMDAwIDIuMDUzbDguNzIyIDguNzIyLTguNzIzIDguNzIyYTEuNDUgMS40NSAwIDAwMS4wMjYgMi40NzhjLjM3MiAwIC43NDQtLjE0MyAxLjAyNy0uNDI2TDI4IDMwLjA3NGw4LjcyMiA4LjcyMmExLjQ0NyAxLjQ0NyAwIDAwMi4wNTIgMCAxLjQ1IDEuNDUgMCAwMDAtMi4wNTJsLTguNzIyLTguNzIyeiIgZmlsbD0iIzJCMzQ4MSIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImNsaXAwIj48cGF0aCBmaWxsPSIjZmZmIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNi44IDE2LjgpIiBkPSJNMCAwaDIyLjR2MjIuNEgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==) 50%/1em auto no-repeat;
        font-size:32px
    }
}
.popup-overlay{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(22,27,46,.9);
    opacity:0;
    pointer-events:none;
    display:flex;
    justify-content:center;
    margin:-1px;
    overflow:hidden
}
@media(max-width:1023.98px){
    .popup-overlay{
        padding:0 60px
    }
}
@media(max-width:767.98px){
    .popup-overlay{
        padding:0 16px
    }
}
@media(min-width:768px)and (min-height:580px){
    .popup-overlay .custom-container{
        padding:40px 0
    }
}
@media(min-width:1024px)and (min-height:700px){
    .popup-overlay .custom-container{
        padding:80px 0 72px
    }
}
@media(min-width:768px){
    .popup-overlay .custom-container .popup-header+.card-wizard-modal,.popup-overlay .custom-container .popup-header+.popup-tooltip{
        overflow-y:scroll
    }
}
@media(max-height:649px){
    .popup-overlay .custom-container .popup-header+.card-wizard-modal,.popup-overlay .custom-container .popup-header+.popup-tooltip{
        overflow-y:scroll;
        height:100%
    }
}
@media(min-width:768px)and (min-height:650px){
    .popup-overlay .custom-container .popup-header+.card-wizard-modal,.popup-overlay .custom-container .popup-header+.popup-tooltip{
        max-height:630px
    }
}
@media(min-height:780px){
    .popup-overlay .custom-container .popup-header+.card-wizard-modal,.popup-overlay .custom-container .popup-header+.popup-tooltip{
        max-height:unset
    }
}
.popup-overlay--active{
    pointer-events:all;
    opacity:1;
    z-index:999
}
.popup-overlay .popup-header{
    position:absolute;
    z-index:1;
    padding:0 16px;
    width:100%;
    background:#fff;
    display:flex;
    height:56px
}
.popup-overlay .popup-header img{
    width:156px
}
@media(min-width:768px){
    .popup-overlay .popup-header{
        height:auto
    }
    .popup-overlay .popup-header img{
        display:none
    }
}
@media(max-width:767.98px){
    .popup-overlay.help-wizard,.popup-overlay.tooltip-modal{
        padding:0
    }
    .popup-overlay.help-wizard .custom-container,.popup-overlay.tooltip-modal .custom-container{
        height:100%
    }
    .popup-overlay.help-wizard .custom-container .popup-header,.popup-overlay.tooltip-modal .custom-container .popup-header{
        justify-content:center
    }
}
@media(max-width:767.98px){
    .popup-overlay.email-modal{
        padding:1rem
    }
}
.popup-overlay.email-modal .popup-header{
    height:auto
}
.popup-overlay.email-modal .popup-header img{
    display:none
}
.popup-overlay.tooltip-modal .custom-container .popup-header{
    justify-content:flex-start
}
.popup-overlay .popup-tooltip{
    position:relative;
    padding:48px 42px 56px;
    background:#fff;
    box-shadow:0 10px 24px rgba(87,106,134,.2);
    border-radius:1rem;
    width:100%;
    height:auto;
    overflow-y:scroll
}
@media(min-width:1024px){
    .popup-overlay .popup-tooltip{
        max-width:960px;
        max-height:609px;
        width:100%
    }
}
.popup-overlay .popup-tooltip .tooltip-heading{
    margin-bottom:40px;
    font-size:32px;
    font-weight:800;
    line-height:40px;
    text-align:center
}
.popup-overlay .popup-tooltip .tooltip-subheading{
    font-size:24px;
    font-weight:800;
    line-height:32px;
    margin-bottom:1rem
}
.popup-overlay .popup-tooltip .tooltip-content,.popup-overlay .popup-tooltip .tooltip-content p{
    margin-bottom:1rem
}
@media(max-width:767.98px){
    .popup-overlay .popup-tooltip{
        height:100%;
        border-radius:0;
        padding:80px 24px 24px
    }
    .popup-overlay .popup-tooltip .tooltip-heading{
        text-align:left;
        font-size:24px;
        line-height:32px
    }
    .popup-overlay .popup-tooltip .tooltip-subheading{
        font-size:1rem;
        line-height:1.5rem
    }
}
@media(min-width:1024px)and (max-height:800px){
    .popup-overlay.date-sel-popup>.custom-container{
        padding:0;
        margin:auto
    }
    .popup-overlay.date-sel-popup>.custom-container .lg-wizard-card{
        padding:30px 35px
    }
    .popup-overlay.date-sel-popup>.custom-container .lg-wizard-card .card-heading{
        margin-bottom:0
    }
    .popup-overlay.date-sel-popup>.custom-container .lg-wizard-card .form-line.date{
        padding:10px 0
    }
    .popup-overlay.date-sel-popup>.custom-container .lg-wizard-card .dates-selection.cal{
        margin-bottom:0
    }
    .popup-overlay.date-sel-popup>.custom-container .lg-wizard-card .next-step{
        margin-top:0
    }
}
.b-prevent-scroll{
    height:100%!important;
    overflow:hidden!important;
    pointer-events:none!important
}
.wizard-step.loading[data-v-2ac1cdc4]{
    z-index:99999!important;
    position:fixed!important;
    top:0!important;
    right:0!important;
    bottom:0!important;
    left:0!important;
    height:100%!important;
    width:100%!important;
    opacity:1!important
}
.img-vc-logo[data-v-0f534a9c]{
    height:36px
}
@media(max-width:1023.98px){
    .img-vc-logo[data-v-0f534a9c]{
        height:37px
    }
}
.quotes-generator-bar{
    background:#fff;
    padding:24px 0;
    border-radius:0 0 16px 16px
}
.quotes-generator-bar-heading{
    display:none;
    font-size:1.5rem;
    line-height:1.35;
    margin-bottom:0;
    margin-top:11px
}
@media(max-width:1023.98px){
    .quotes-generator-bar-heading{
        display:block
    }
}
.quotes-generator-bar-text.text{
    display:none;
    font-weight:600;
    font-size:.875rem;
    line-height:1.65;
    color:#67778f;
    margin-top:-8px;
    margin-bottom:20px
}
@media(max-width:1023.98px){
    .quotes-generator-bar-text.text{
        display:block
    }
}
@media(max-width:1023.98px){
    .quotes-generator-bar .get-quotes-button{
        margin:auto;
        max-width:350px;
        width:100%
    }
}
@media(max-width:1023.98px){
    .quotes-generator-bar .popup-overlay .popup-header{
        width:calc(100% - 64px);
        margin-left:32px
    }
}
@media(max-width:767.98px){
    .quotes-generator-bar .popup-overlay .popup-header{
        width:100%;
        margin-left:0;
        justify-content:center
    }
}
.quotes-generator-bar .generator-bar-row-wrap{
    grid-template-columns:166px 272px 268px 127px;
    grid-gap:24px;
    justify-content:center;
    align-items:baseline;
}
@media(min-width:1024px)and (max-width:1439.98px){
    .quotes-generator-bar .generator-bar-row-wrap{
        grid-template-columns:166px 272px 268px 1fr;
        justify-content:flex-start
    }
    .quotes-generator-bar .generator-bar-row-wrap .button{
        justify-self:flex-end
    }
}
@media(max-width:1023.98px){
    .quotes-generator-bar{
        display:none
    }
    .quotes-generator-bar.active{
        padding:0;
        border-radius:0;
        display:block;
        position:fixed;
        top:56px;
        left:0;
        width:100%;
        height:100%;
        z-index:1000
    }
    .quotes-generator-bar.active .generator-bar-row-wrap{
        grid-template-columns:1fr
    }
    .quotes-generator-bar.active .quotes-generator-bar-heading{
        margin-top:38px
    }
}
@media(min-width:768px)and (max-width:1023.98px){
    .quotes-generator-bar .grid-container{
        max-width:704px;
        padding:0
    }
}
.quotes-generator-bar .form-input{
    width:auto
}
.quotes-generator-bar .form-input.input-traveler-info input:valid{
    padding-left:30px;
    background-position:14px 17px;
    background-image:url(data:image/svg+xml;
    charset=utf-8;
    base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTUuNSAzLjVDNS41IDIuNjc0IDYuMTc0IDIgNyAyczEuNS42NzQgMS41IDEuNVM3LjgyNiA1IDcgNXMtMS41LS42NzQtMS41LTEuNXpNMy43MzMgOS4xOGgwYy4yMzMtLjI1LjU3My0uNDI4IDEuMDQtLjUzOS40Ny0uMTEyIDEuMDA1LS4xNDEgMS41Ni0uMTQxaDEuMzM0Yy41NTUgMCAxLjA5LjAyOSAxLjU2LjE0MS40NjcuMTEuODA3LjI4OCAxLjA0LjU0bC43MjktLjY3Ny0uNzI5LjY3NmMuNDQ3LjQ4Mi42NDcgMS4wNC43MSAxLjgySDMuMDIzYy4wNjMtLjc4LjI2My0xLjMzOC43MS0xLjgyeicgZmlsbD0nIzJCMzQ4MScgc3Ryb2tlPScjMkIzNDgxJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4=)
}
.quotes-generator-bar .form-input.date-range.form-input__date-range{
    width:auto
}
.quotes-generator-bar .form-input.date-range.form-input__date-range .from:hover:before,.quotes-generator-bar .form-input.date-range.form-input__date-range .to:hover:after{
    display:none
}
.quotes-generator-bar .form-input.date-range .input-field{
    color:#67778f
}
.quotes-generator-bar .form-input.date-range .input-field.active{
    color:#2b3481;
    border:1px solid #2b3481
}
.quotes-generator-bar .form-input.date-range .label-text{
    color:#2b3481;
    opacity:1;
    top:-8px;
    visibility:visible
}
.quotes-generator-bar .form-input.date-range .input-field__date-wrap{
    display:grid;
    align-items:center;
    grid-template-columns:repeat(4,-webkit-max-content);
    grid-template-columns:repeat(4,max-content);
    grid-gap:16px;
    width:100%
}
.quotes-generator-bar .form-input.date-range .input-divider{
    width:1px;
    height:24px;
    background:#cfd9e8
}
.quotes-generator-bar .form-input.input-destination .form-input.input-traveler-info input{
    padding-left:30px;
    background-position:14px 17px;
    background-image:url(data:image/svg+xml;
    charset=utf-8;
    base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTUuNSAzLjVDNS41IDIuNjc0IDYuMTc0IDIgNyAyczEuNS42NzQgMS41IDEuNVM3LjgyNiA1IDcgNXMtMS41LS42NzQtMS41LTEuNXpNMy43MzMgOS4xOGgwYy4yMzMtLjI1LjU3My0uNDI4IDEuMDQtLjUzOS40Ny0uMTEyIDEuMDA1LS4xNDEgMS41Ni0uMTQxaDEuMzM0Yy41NTUgMCAxLjA5LjAyOSAxLjU2LjE0MS40NjcuMTEuODA3LjI4OCAxLjA0LjU0bC43MjktLjY3Ny0uNzI5LjY3NmMuNDQ3LjQ4Mi42NDcgMS4wNC43MSAxLjgySDMuMDIzYy4wNjMtLjc4LjI2My0xLjMzOC43MS0xLjgyeicgZmlsbD0nIzJCMzQ4MScgc3Ryb2tlPScjMkIzNDgxJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4=)
}
.quotes-generator-bar .form-input.input-destination .form-input__date-range .input-field{
    border:1px solid #2b3481
}
.quotes-generator-bar .form-input.input-destination .form-input__date-range .label-text{
    color:#2b3481;
    opacity:1;
    top:-8px;
    visibility:visible
}
.quotes-generator-bar .form-input.input-destination .form-input__date-range .input-field__date-wrap{
    display:grid;
    align-items:center;
    grid-template-columns:repeat(4,-webkit-max-content);
    grid-template-columns:repeat(4,max-content);
    grid-gap:16px;
    width:100%
}
.quotes-generator-bar .form-input.input-destination .form-input__date-range .input-field__date-wrap .icon-calendar{
    font-size:17px
}
.quotes-generator-bar .form-input.input-destination .form-input__date-range .input-divider{
    width:1px;
    height:24px;
    background:#cfd9e8
}
.input-field::-webkit-inner-spin-button,.input-field::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0
}
.input-field[type=number]{
    -moz-appearance:textfield
}
.form-input.select.focus .dropdown{
    display:block
}
.form-input.select .dropdown{
    display:none
}
.form-input.select .dropdown .dropdown-list .dropdown-item{
    transition:.5s ease-out
}
.form-input.select .dropdown .dropdown-list .dropdown-item.active{
    color:#2b3481;
    font-weight:700;
    padding-left:20px
}
.v-input:not(.error--text) .v-text-field__details{
    display:none!important
}
.header-view-plans .quotes-generator-bar .grid-row{
    justify-items:center
}
@media(max-width:1300px){
    .header-view-plans.scrolling .quotes-generator-bar .grid-container{
        max-width:calc(100% - 40px)
    }
}
.header-view-plans.scrolling .quotes-generator-bar .grid-container .generator-bar-row-wrap{
    grid-template-columns:166px 166px 272px 268px 154px
}
@media(max-width:1150px){
    .header-view-plans.scrolling .quotes-generator-bar .grid-container .generator-bar-row-wrap{
        grid-template-columns:166px 150px 200px 268px 154px
    }
}
.header-view-plans.scrolling .quotes-generator-bar .grid-container .scroll-logo{
    justify-self:flex-start
}
.header-view-plans:not(.scrolling) .has-right-col-slot{
    grid-template-columns:166px 272px 268px 1fr!important;
    grid-gap:20px
}
@media(min-width:1440px){
    .header-view-plans:not(.scrolling) .has-right-col-slot .slot--right-col{
        position:absolute;
        right:0;
        height:100%;
        display:flex;
        align-items:center
    }
}
.has-arrow:before{
    content:"";
    display:block;
    position:absolute;
    right:10px;
    top:12px;
    width:24px;
    height:24px;
    background-position:50%;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(data:image/svg+xml;
    base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMTBsNCA0IDQtNCIgc3Ryb2tlPSIjMkIzNDgxIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
    transition-duration:.15s;
    transition-property:transform
}
@media(max-width:768px){
    .gen-bar-popup .popup-header{
        max-width:100%!important
    }
}
@media(min-width:1024px){
    .quotes-generator-bar.large-generator-cta .generator-bar-row-wrap[data-v-5170d561]{
        grid-template-columns:166px 272px 268px 154px
    }
}
.quotes-generator-bar .grid-row--bar[data-v-5170d561]{
    position:relative
}
.quotes-generator-bar .input-destination .dest-value[data-v-5170d561]{
    color:#2b3481;
    font-weight:600;
    font-size:.875rem;
    line-height:1.5;
    position:absolute;
    top:13px;
    left:16px;
    max-width:119px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
@media(max-width:1023px){
    .quotes-generator-bar[data-v-5170d561] .popup-header{
        max-width:704px;
        width:100%;
        margin:0 auto;
        position:relative
    }
}
.quotes-generator-bar[data-v-5170d561] .popup-header .icon-close{
    right:45px
}
@media(max-width:1023px){
    .quotes-generator-bar[data-v-5170d561] .popup-header .icon-close{
        right:15px
    }
}
.hide-value[data-v-5170d561]{
    color:transparent!important
}
@media(max-width:576px){
    .quotes-generator-bar[data-v-5170d561] .form-input.select.focus{
        top:0!important
    }
}
@media(max-width:767.98px){
    .gen-bar-popup[data-v-5170d561]>.custom-container>.popup-header>.icon-close{
        top:12px!important;
        right:12px!important
    }
}
@media(min-width:768px){
    .gen-bar-popup[data-v-5170d561]>.custom-container>.popup-header>.icon-close{
        top:15px!important;
        right:50px!important
    }
}
@media(min-width:768px)and (max-width:1023.98px){
    .gen-bar-popup[data-v-5170d561]>.custom-container>.popup-header>.icon-close{
        top:25px!important;
        right:15px!important
    }
}
